$marginTop: 5%;
$display: inline-flex;
$feedSize: x-small;
$showSize: small;
/* Events Page */
.events {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  overflow: scroll;
  margin-top: $marginTop;
}
.event {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5% 0 0;
}
.card {
  position: relative;
  margin: 0 0 0 5%;
  width: 90%;
  -moz-box-shadow: 0 0 5px #18191a;
  -webkit-box-shadow: 0 0 5px #18191a;
  box-shadow: 0 0 5px #18191a;
  background-color: white;
  margin-top: 2%;
}
.feed {
  display: $display;
  position: relative;
  width: 100%;
}
.full {
  height: 85%;
  #sub-icon {
    margin: 2%;
    width: 10%;
  }
  .top-section {
    position: relative;
    display: $display;
    width: 100%;
    height: 10%;
    #sub-icon {
      margin: 2%;
      width: 8%;
      align-items: center;
    }
    .vertical-line {
      margin: 1%;
    }
    #title-section {
      font-size: x-large;
      width: 80%;
      text-align: center;
      padding-top: 3%;
      letter-spacing: 2px;
    }
  }
  .descrip-section {
    position: relative;
    width: 100%;
    padding: 3%;
  }
  .save-section {
    position: relative;
    width: 100%;
    padding: 3% 3% 3% 25%;
    font-size: large;
    i {
      margin: 0 3%;
      font-size: x-large;
      transition: all 1s linear;
    }
    i.spin {
      transform: rotate(360deg);
    }
    #calendarAdded{
      visibility: hidden;
    }
  }
  .info-section {
    position: relative;
    width: 100%;
    #location-full,
    #time-full {
      position: relative;
      padding-left: 25%;
      font-size: large;
      margin: 0 0 2%;
      i {
        padding-right: 5px;
      }
    }
  }
  .img-section {
    position: relative;
    height: 25%;
    vertical-align: middle;
    text-align: center;
    img{
      height: 100%;
      width: auto;
    }
  }
  .org-section {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: large;
    margin: 2% 0;
  }
  .social-section {
    position: relative;
    text-align: center;
    font-size: large;
    margin: 2% 0;
    i {
      margin: 0 5%;
    }
    #facebook-full {
      color: #1337f4;
    }
    #google-full {
      color: #e90f0f;
    }
  }
}
#title-section {}
#title-location,
#time-date {
  margin: 2%;
}
#title-location {
  width: 70%;
}
#time-date {
  width: 20%;
}
#title-location span,
#time-date span {
  display: block;
  font-size: $feedSize;
}
#location {
  font-style: italic;
  color: #79726f;
  font-size: $feedSize;
}
#short-descrip {
  font-size: $showSize;
}
.vertical-line {
  border-left-style: groove;
  border-left-width: medium;
  border-left-color: black;
  margin: 2% 0;
}
/* End Events Page */
