  /* Events Page */

  .events {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    overflow: scroll;
    margin-bottom: 10%;
  }
  .event {
    position: relative;
    background-color: white;
    color: LightGray;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    border-color: black;
    border-style: inset;
    float: left;
  }
  .event-content {
  }

  .card {
    position: relative;
    margin: 0 0 0 5%;
    left: 0;
    width: 90%;
    -moz-box-shadow: 0 0 5px #18191a;
    -webkit-box-shadow: 0 0 5px #18191a;
    box-shadow: 0 0 5px #18191a;
    background-color: white;
    margin-top: 2%;
  }
  /* End Events Page */
