ul.notifications {
  position: fixed;
}
#mainHeader
{
  font-style: normal;
  text-align: center;
}
html {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
body {
  padding-top: 25px;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* Events Page */

.events {
  background-color: #003399;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  float: left;
  top: 0;
  overflow: scroll;
  margin-bottom: 10%;
}
.event {
  border-radius: 25px;
  background-color: white;
  color: LightGray;
  width: 50%;
  height: 30%;
  margin-left: 25%;
  margin-right: 25%;
}
.event-content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
}
/* End Events Page */
/* Registration Page */
i#confirmMatch-email, i#confirmMatch-password {
  color: green;
}
i#confirmWrong-email, i#confirmWrong-password {
  color: red;
}
#register-form {
  display: inline-block;
}
.register-content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#confirm-email, #confirm-password {
  float: right;
}
#register-form input {
  margin-bottom: 2%;
}
#register-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: LightGray;
  color: Black;
  width: 100%;
  border: none;
  margin: 0 auto;
  margin-top: 10%;
}

/* End Registration Page */
/* Login Page */
.login-content {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

#logo{
  height: 40%;
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.background-image {
  background: url("login-background.jpg") no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  float: left;
}
#ResetPassword {
  text-align: center;
}

#ResetPassword a {
  color: LightSlateGray;
}
#userEmail, #userPassword, .input-group-addon {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  background-color: black;
  color: LightSlateGray;
  opacity: 0.5;
  border: none;
}
#loginBtn {
  width: 100%;
  margin: 0 auto;
}
#loginBtn button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: LightGray;
  color: Black;
  width: 100%;
  border: none;
  margin: 0 auto;
}

#newUser {
  width: 100%;
  margin: 0 auto;
}
#newUser button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: LightGray;
  color: Black;
  width: 100%;
  border: none;
  margin: 0 auto;
}
#loginForm {
  margin-left: 10%;
  margin-right: 10%;
}
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}




/* End Login Page */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    /*background: Black;*/
}
.fc {
    /*background: DimGray;*/
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: DimGray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.masterCalendar {
  height: 100%;
  width: 100%;
  position: relative;
}

.masterCalendar .fc {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50%;
  position: relative;
  overflow: visible;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    display: inline-block;
    right: 0;
    top: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#profile-picture {
  /*
  padding-bottom: 20px;
  padding-top: 40px;
  */
  width: auto;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}
#profile-info {
  /*padding-bottom: 20px;
  padding-top: 50px;
  */
  margin: auto;
  display: block;
}

#profile-info #p-info {
  text-align: center;
  color: white;
  font-size: 10px;
  display: block;
  overflow: auto;
  padding-bottom: 5px;
  vertical-align: middle;
}
.sidebar-nav > .sidebar-profile {
    margin: 10 10 10 10;
    height: 100px;
    font-size: 18px;
    line-height: 60px;
}
#profile-picture img {
  display: block;
  margin: auto;
  border-radius: 50%;
  vertical-align: middle;
}
.sidebar-nav > .sidebar-profile a {
    color: #999999;
}

.sidebar-nav > .sidebar-profile a:hover {
    color: #fff;
    background: none;
}

#test {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#fit-content {
  margin-top: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
