<template name="register">
  <div class="background-image"></div>
  <div class="register-content">
    {{> notifications }}
    <form id="register-form" role="form">

      <div class="form-group form-inline">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
      </div>

      <div class="form-group form-inline">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
      </div>

      <div class="form-group">
        <label for="email" class="form-inline">Email</label>
        <input type="email" class="form-control form-inline" id="email" placeholder="Enter Email">
        <input type="email" class="form-control" id="confirm-email" placeholder="Confirm Email">
      </div>

      <div class="form-group" id="passwordFields">
        <label for="password" class="form-inline">Password</label>
        <input type="password" class="form-control form-inline" id="password" placeholder="Enter Password">
        <input type="password" class="form-control col-md-10" id="confirm-password" placeholder="Confirm Password">
      </div>

      <div class="form-group" id="register-button-container">
        <input type="submit" value="Register" class="btn btn-lg btn-primary" id="register-button">
      </div>

    </form>
  </div>
</template>
